# Asthma

In [6]:
from sklearnex import patch_sklearn
patch_sklearn()

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from xgboost import XGBClassifier

In [8]:
data_df = pd.read_csv('data.csv')

In [9]:
data_df.head(2)

,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,None_Sympton,Pains,Nasal-Congestion,Runny-Nose,None_Experiencing,Age_0-9,Age_10-19,Age_20-24,Age_25-59,Age_60+,Gender_Female,Gender_Male,Severity_Mild,Severity_Moderate,Severity_None
0,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,1,0,0
1,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,1,0,0

In [10]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316800 entries, 0 to 316799
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Tiredness                316800 non-null  int64
 1   Dry-Cough                316800 non-null  int64
 2   Difficulty-in-Breathing  316800 non-null  int64
 3   Sore-Throat              316800 non-null  int64
 4   None_Sympton             316800 non-null  int64
 5   Pains                    316800 non-null  int64
 6   Nasal-Congestion         316800 non-null  int64
 7   Runny-Nose               316800 non-null  int64
 8   None_Experiencing        316800 non-null  int64
 9   Age_0-9                  316800 non-null  int64
 10  Age_10-19                316800 non-null  int64
 11  Age_20-24                316800 non-null  int64
 12  Age_25-59                316800 non-null  int64
 13  Age_60+                  316800 non-null  int64
 14  Gender_Female            316800 non-null  int64
 15  Gender_Male              316800 non-null  int64
 16  Severity_Mild            316800 non-null  int64
 17  Severity_Moderate        316800 non-null  int64
 18  Severity_None            316800 non-null  int64
dtypes: int64(19)
memory usage: 45.9 MB

In [11]:
column_names = data_df.columns
column_names

Index(['Tiredness', 'Dry-Cough', 'Difficulty-in-Breathing', 'Sore-Throat',
       'None_Sympton', 'Pains', 'Nasal-Congestion', 'Runny-Nose',
       'None_Experiencing', 'Age_0-9', 'Age_10-19', 'Age_20-24', 'Age_25-59',
       'Age_60+', 'Gender_Female', 'Gender_Male', 'Severity_Mild',
       'Severity_Moderate', 'Severity_None'],
      dtype='object')

In [12]:
data_df.describe()

,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,None_Sympton,Pains,Nasal-Congestion,Runny-Nose,None_Experiencing,Age_0-9,Age_10-19,Age_20-24,Age_25-59,Age_60+,Gender_Female,Gender_Male,Severity_Mild,Severity_Moderate,Severity_None
count,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000,316800.000000
mean,0.500000,0.562500,0.500000,0.312500,0.062500,0.363636,0.545455,0.545455,0.090909,0.200000,0.200000,0.200000,0.200000,0.200000,0.333333,0.333333,0.250000,0.250000,0.250000
std,0.500001,0.496079,0.500001,0.463513,0.242062,0.481046,0.497930,0.497930,0.287480,0.400001,0.400001,0.400001,0.400001,0.400001,0.471405,0.471405,0.433013,0.433013,0.433013
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.500000,1.000000,0.500000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.250000,0.250000,0.250000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
data_df.rename(columns={'Severity_None': 'target'}, inplace=True)
# drop Severity_Mild and Severity_Moderate
data_df.drop(columns=['Severity_Mild', 'Severity_Moderate'], inplace=True)
# data_df
data_df.head(2)

,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,None_Sympton,Pains,Nasal-Congestion,Runny-Nose,None_Experiencing,Age_0-9,Age_10-19,Age_20-24,Age_25-59,Age_60+,Gender_Female,Gender_Male,target
0,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,0
1,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,1,0

In [14]:
data_df.rename(columns={'Gender_Female': 'gender'}, inplace=True)
data_df.drop(columns=['Gender_Male'], inplace=True)
data_df.head(2)

,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,None_Sympton,Pains,Nasal-Congestion,Runny-Nose,None_Experiencing,Age_0-9,Age_10-19,Age_20-24,Age_25-59,Age_60+,gender,target
0,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,0
1,1,1,1,1,0,1,1,1,0,1,0,0,0,0,0,0

In [15]:
data_df.drop(columns=["None_Sympton", "None_Experiencing"],  inplace=True)
data_df.head(2)

,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,Pains,Nasal-Congestion,Runny-Nose,Age_0-9,Age_10-19,Age_20-24,Age_25-59,Age_60+,gender,target
0,1,1,1,1,1,1,1,1,0,0,0,0,0,0
1,1,1,1,1,1,1,1,1,0,0,0,0,0,0

In [16]:
data_df['age'] = data_df['Age_0-9'].apply(lambda x: 9 if x == 1 else 0)
data_df['age'] += data_df['Age_10-19'].apply(lambda x: 19 if x == 1 else 0)
data_df['age'] += data_df['Age_20-24'].apply(lambda x: 24 if x == 1 else 0)
data_df['age'] += data_df['Age_25-59'].apply(lambda x: 59 if x == 1 else 0)
data_df['age'] += data_df['Age_60+'].apply(lambda x: 60 if x == 1 else 0)
data_df.drop(columns=['Age_0-9', 'Age_10-19', 'Age_20-24',
             'Age_25-59', 'Age_60+'], inplace=True)
data_df.head(2)

,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,Pains,Nasal-Congestion,Runny-Nose,gender,target,age
0,1,1,1,1,1,1,1,0,0,9
1,1,1,1,1,1,1,1,0,0,9

In [17]:
data_df = data_df.groupby('gender').apply(lambda x: x.sample(300)).reset_index(drop=True)
data_df

/tmp/ipykernel_6437/311368257.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data_df = data_df.groupby('gender').apply(lambda x: x.sample(300)).reset_index(drop=True)

,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,Pains,Nasal-Congestion,Runny-Nose,gender,target,age
0,1,1,0,0,0,1,1,0,0,9
1,1,1,1,1,0,0,0,0,0,60
2,0,0,0,0,1,0,0,0,0,9
3,0,1,0,0,1,1,0,0,0,59
4,0,0,0,1,1,1,1,0,0,59
...,...,...,...,...,...,...,...,...,...,...
595,0,1,0,0,1,0,0,1,1,19
596,0,1,1,0,0,0,0,1,0,59
597,1,1,1,1,1,1,1,1,0,24
598,1,1,1,0,1,1,1,1,0,60
599,0,0,1,1,0,1,0,1,0,24

In [18]:
x = data_df.drop(columns=['target'])
y = data_df['target']

In [19]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.2, random_state=42)

In [20]:
xgb_classifier = XGBClassifier()
xgb_classifier.fit(x_train, y_train)
y_pred = xgb_classifier.predict(x_test)

In [21]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.7

In [22]:
print("classification_report")
print(classification_report(y_test, y_pred))

classification_report
              precision    recall  f1-score   support

           0       0.79      0.83      0.81        92
           1       0.33      0.29      0.31        28

    accuracy                           0.70       120
   macro avg       0.56      0.56      0.56       120
weighted avg       0.68      0.70      0.69       120

In [23]:
data_df.columns

Index(['Tiredness', 'Dry-Cough', 'Difficulty-in-Breathing', 'Sore-Throat',
       'Pains', 'Nasal-Congestion', 'Runny-Nose', 'gender', 'target', 'age'],
      dtype='object')

In [24]:
data_df.to_csv('asthma.csv', index=False)
print("new_data.csv created")

new_data.csv created

In [25]:
data= pd.read_csv('asthma.csv')
data.head(2)

,Tiredness,Dry-Cough,Difficulty-in-Breathing,Sore-Throat,Pains,Nasal-Congestion,Runny-Nose,gender,target,age
0,1,1,0,0,0,1,1,0,0,9
1,1,1,1,1,0,0,0,0,0,60

In [26]:
for column in data.columns:
    print(column, data[column].unique())

Tiredness [1 0]
Dry-Cough [1 0]
Difficulty-in-Breathing [0 1]
Sore-Throat [0 1]
Pains [0 1]
Nasal-Congestion [1 0]
Runny-Nose [1 0]
gender [0 1]
target [0 1]
age [ 9 60 59 24 19]

In [27]:
x = data.drop(columns=['target'])
y = data['target']

In [28]:
model = XGBClassifier()
model.fit(x, y)
print("model created")

model created

In [29]:
def predict_new_data(data_of_new_patient):
    data_of_new_patient = np.array(data_of_new_patient).reshape(1, -1)
    prediction = model.predict(data_of_new_patient)
    return prediction[0]

In [30]:

data_of_new_patient = [0, 1, 1, 0, 1, 1, 1, 0, 21]
prediction = predict_new_data(data_of_new_patient)
print("Prediction:", prediction)

Prediction: 0

In [31]:
data_of_new_patient=[1,0,1,0,1,1,0,1,20]
prediction2=predict_new_data(data_of_new_patient)
print(prediction2)

1

In [32]:
data_of_new_patient2=[1,1,0,0,0,1,0,0,20]
prediction4=predict_new_data(data_of_new_patient2)
print(prediction4)

1

In [33]:
import pickle
with open("asthma.pkl", "wb") as file:
    pickle.dump(model, file)

print("Model saved to xgb_model.pkl")

Model saved to xgb_model.pkl